#canvas {
    margin: 0;
    position: absolute;
}

#container {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.styleCanvas{
    border: 1px solid black;
}

#rulerX {
    margin-left: 53px;
    margin-top: 1px;
}

#coordinateTable {
    position: absolute;
    z-index: -100;
}

form {
    margin-left: 10px;
}