#canvas {
    margin: 0;
    position: absolute;
}

#container {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.styleCanvas {
    border: 1px solid black;
}

#rulerX {
    margin-left: 55px;
    margin-top: 1px;
    height: 30px;
    width: 600px;
}

#coordinateTable {
    position: absolute;
    z-index: -100;
}

#drawer {
    margin-left: 10px;
}

#text {
    position: absolute;
    margin-left: 42em;
}

#input {
    margin-top: 1em;
}

#input>div {
    display: flex;
    flex-direction: row;
}

.input {
    width: 30px;
    height: 20px;
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 5px;
}

#coordinate {
    width: 70px;
    height: 20px;
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 5px;

}

#instruction>ul {
    position: relative;
    right: 2em;
}

#instruction {
    margin-bottom: 3em;
}

kbd {
    background: #eee;
    border: 4px outset #ccc;
    padding: .1em .6em;
}

#marker {
    position: absolute;
    z-index: 100;
}

header {
    width: 100%;
    height: 3em;
    background-color: gainsboro;
    display: flex;
    flex-direction: row;
}


header>img {
    position: relative;
    left: 1em;
}

header>h1 {
    position: relative;
    left: 1em;
    top: -20px;
}

h2 {
    position: relative;
    left: 1em;
    top: 10px;
}

#coordX {
    display: flex;
    flex-direction: row;
}

#labelX {
    position: relative;
    top: -17px;
    left: 10px;
}

#reference {
    position: absolute;
    margin-left: 75em;
    border: 3mm ridge gainsboro;
    visibility: hidden;
    padding-left: 10px;
}

#reference>h2 {
    position: relative;
    text-align: center;
}

li {
    margin-top: 10px;
}

#modalWindow {
    visibility: hidden;
    position: fixed;
    z-index: 300;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

#message {
    position: fixed;
    left: 20%;
    top: 20%;
    background-color: white;
    width: 40%;
    height: 60%;
    padding-left: 15px;
}

#message > h2 {
    position: relative;
    margin-left: auto;
    top: 1em;
}

#btn {
    position: absolute;
    right: 10em;
}

a {
    display: inline-block;
    background: #8C959D; 
    color: #fff; 
    padding: 1rem 1.5rem; 
    text-decoration: none;
    border-radius: 3px; 
    margin-left: 3em;
}